**/.git/**
**/.github/**
**/.vscode/**
**/src/**
**/*.map
**/*.ts
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/docs/**
**/node_modules/**/doc/**
**/node_modules/**/example/**
**/node_modules/**/examples/**
**/node_modules/**/CHANGELOG*
**/node_modules/**/README*
**/node_modules/**/LICENSE*
**/node_modules/.bin/**
esbuild.js
tsconfig.json
package-lock.json

